.App {

}
html {
  scroll-behavior: smooth;
}


header {
/* background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(232,182,191,1) 19%, rgba(184,31,58,1) 47%, rgba(81,19,30,1) 94%, rgba(29,27,27,1) 100%); */
}
.navbar{
  display:flex;
  flex-direction:row;
  text-align:center;
  top:0;
  position:sticky;
  padding-left:3rem;
  z-index:3;
  
}
.navbarTitle .first-logo {
  width:300px;
}
.second-logo {
  display:none;
}
.navbarTitle .profession-span {
  position:relative;
  font-size:20px;
  font-weight:600;
  bottom:7.5rem;
  right:8rem;
}
.navbarTitle .profession-span:after {
  content:'';
  width:100%;
  position:absolute;
  background-color:black;
  height:3px;
  left:0;
  bottom:-3px;
  transition:0.3s;
}
.navbarTitle .profession-span:before {
  content:'';
  width:100%;
  position:absolute;
  background-color:black;
  height:3px;
  left:0;
  bottom:23px;
  transition:0.3s;
}
.navbar-photo-tag {

  text-decoration:none;
  color:#2b916c;
  border: 4px solid black;
  font-size:60px;
  padding-bottom:1.8rem;
  padding-right:1rem;
  padding-left:1rem;
  position:absolute;
  top:4rem;
  right:13rem;
  border-radius:15px;
  transition:all 0.5s ease;
}
.navbar-photo-tag:after {
  content:'</>';
  animation: changeTXT 1.3s linear infinite alternate;
}
.navbar-photo-tag:hover {
  color:#2b916c;
  border-color:#2b916c;
  transition:all 0.5s ease;
}
.navbar-github
{
  position:absolute;
  font-weight:500;
  font-size:20px;
  right:15.5rem;
  top:8.8rem;
  z-index:-2;
  color:#2b916c;
}
.navbar-photo-tag , .navbar-github {
  animation:animate 1.5s linear infinite alternate;
}
.main-text {
  text-align:center;
  display:flex;
  flex-direction:column;
  padding-top:5rem;
  height:50rem;
  z-index:1;
  
}
.main-text-main-text {
  font-size:80px;
  position:relative;
  font-weight:650;
}
.main-text-main-text:after {
  content:'';
  width:70%;
  position:absolute;
  background-color:black;
  height:3px;
  left:0;
  bottom:-3px;
  transition:0.3s;
}
.main-text-second-main {
  font-size:60px;
  position:relative;
  font-weight:650;
}
.main-text-second-main:after {
  content:'';
  width:65%;
  position:absolute;
  background-color:black;
  height:3px;
  right:0;
  bottom:-7px;
  transition:0.3s;
}
.main-text-second-text {
  position:relative;
  top:7rem;
  font-size:25px;
  width:30rem;
  font-weight:630;
  left:36vw;
}
.main-text-second-text:after {
  content:'';
  width:100%;
  position:absolute;
  background-color:black;
  height:3px;
  right:2rem;
  bottom:-7px;
  transition:0.3s;
  transform:translateX(2rem) translateY(-40px);
}
.main-text-third-text {
  position:relative;
  font-size:50px;
  bottom:1.5rem;
  font-weight:500;
  color:#2b916c;
}


.contact-me-text {
  font-size:30px;
  position:relative;
  text-decoration:none;
  color:#2b916c;
  top:10rem;
  border:2px solid #2b916c;
  width:240px;
  height:50px;
  border-radius:20px;
  right:-48vw;
  transition:all 0.5s ease;
}
.contact-me-text:hover {
  background-color:#2b916c;
  color:white;
  transition:all 0.5s ease;
}
/* .letterR {
  position:absolute;
  font-size:300px;
  font-weight:700;
  left:10rem;
  transition:all 2s ease;
  animation: rotate 2s linear infinite alternate;
}
.letterR:after {
  content:'Я';
  position:relative;
}
.letterK {
  position:absolute;
  font-size:300px;
  font-weight:700;
  right:10rem;
  transition:all 2s ease;
  animation: rotate 2s linear infinite alternate;
}
.letterK:after {
  content:'ꓘ';
  position:relative;
} */

.aboutme {
  display:flex;
  justify-content:center;
  height:60rem;
  background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(173,255,225,1) 50%, rgba(255,255,255,1) 100%);
    
}
.aboutme a {
  text-decoration:none;
  color:#c80d30;
}
.aboutme-title {
  position:absolute;
  font-size:80px;
  opacity: 0;
  right:45vw;
  transform:translateY(20rem);
  transition: opacity 1.5s;
  font-weight:650;
}
.aboutme-text
{
  position:relative;
  top:23rem;
  opacity: 0;
  width:fit-content;
  height:10rem;
  transform:translateY(20rem);
  transition: opacity 1.5s;
  left:5rem;
  font-size:25px;
  font-weight:630;
}
.aboutme-text-two {
  position:relative;
  top:10rem;
  opacity: 0;
  width:fit-content;
  height:10rem;
  transform:translateY(40rem);
  transition: opacity 1.5s;
  left:25vw;
  font-size:25px;
  font-weight:630;
}
.aboutme-text-three {
  position:relative;
  opacity: 0;
  width:fit-content;
  height:10rem;
  transform:translateY(55rem);
  transition: opacity 1.5s;
  right:41vw;
  font-size:25px;
  font-weight:630;
}
.aboutme-text-four {
  position:relative;
  opacity: 0;
  top:7rem;
  width:fit-content;
  height:10rem;
  transform:translateY(55rem);
  transition: opacity 1.5s;
  right:15vw;
  font-size:25px;
  font-weight:630;
  bottom:10rem;
}
.skills {
  display:flex;
  position:relative;
  justify-content:center;
  height:103rem;
  transform:translateY(10rem);
}

.skills-title 
{
  position:absolute;
  font-size:80px;
  font-weight:650;
  text-shadow: 10px 5px 5px rgba(153,153,153,1);
}
.htmlpng , .javapng, .cpppng, .csspng, .reactpng, .javascriptpng {
  position:absolute;
  transition:all 1s ease;
}
.htmlpng {
  top:25rem;
  right:76vw;
  width:18.22916666666667vw;
  height:13.020833333333vw;
}
.csspng {
  right:74.5vw;
}
.javascriptpng {
  width:18.22916666666667vw;
  height:10.416666666667vw;
  top:25.8rem;  
}
.reactpng {
  top:48rem;
}
.cpppng {
  top:70rem;
}
.javapng {
  /* right:35rem; */
  bottom:8rem;
}
.reactpng, .cpppng{
  width:11.458333333333vw;
  height:8.8541666666667vw;
}
.javapng, .csspng{
  width:7.8125vw;
  height:10.416666666667vw;
}
.skillstext {
  position:absolute;
  font-size:28px;
  font-weight:500;
  /* width:fit-content;   */
  transition:all 1s;
}
.htmltext {
  top:24rem;
  right:20vw;
  width:30rem;
}
.reacttext {
  top:52rem;
  left:5rem;
}
.cpptext {
  bottom:27rem;
  right:10vw;
}
.javatext {
  bottom:13rem;
  left:13rem;
}
.slider-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 89vw; /* Set the height of the slider */
  width:88.33vw;
  position:relative;
  left:8vw;
  /* border-top: 5px solid teal; */
  border-right: 3px solid teal;
  border-left: 3px solid teal;
  /* border-bottom: 10px solid teal; */
  border-radius:3px;
  margin-top:10rem;
  margin-bottom:30rem;
}

.slick-slide img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 45em; /* Set the height of the container */
  max-width: 80rem; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  /* border: 2px solid #c80d30; */
  border-radius:15px;
  padding: 1rem; /* Add some padding to the container */
  background-color:transparent;
  grid-gap:10px;
  padding-bottom:10rem;
}

.image-grid img {
  width: 100%; /* Set the width of each image to 100% of its container */
  height: 100%; /* Set the height of each image to 100% of its container */
  object-fit: contain; /* Scale the image to cover its container */
  border:1px solid black;
  border-radius:20px;
}

/* Position the images in the grid */
.image-grid img:nth-child(1) {
  grid-row: 1 / 2; /* Position in row 1, spanning columns 1-2 */
  grid-column: 1 / 2;
}
.image-grid img:nth-child(2) {
  grid-row: 1 / 2; /* Position in row 1, spanning columns 2-3 */
  grid-column: 2 / 3;
}
.image-grid img:nth-child(3) {
  grid-row: 2 / 3; /* Position in row 2, spanning columns 1-2 */
  grid-column: 1 / 2;
}
.image-grid img:nth-child(4) {
  grid-row: 2 / 3; /* Position in row 2, spanning columns 2-3 */
  grid-column: 2 / 3;
}
.firstImage {
  position:relative;
  /* right:18rem; */
  transform:translateY(-10rem);
  opacity:0;
  transition: all 2s;
}
.secondImage
{
  position:relative;
  /* left:18rem; */
  transform:translateY(-10rem);
  transition: all 2s;
  opacity:0;
}
.thirdImage
{
  position:relative;
  /* right:18rem; */
  transform:translateY(10rem);
  transition: all 2s;
  opacity:0;
}
.fourthImage
{
  position:relative;
  opacity:0;
  /* left:18rem; */
  transition: all 2s;
  transform:translateY(10rem);
}
.contactMe {
  height:30rem;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  padding-top:20rem;
  transition: all 1.5s;
  padding-bottom:5rem;
}
.contactMeInputs {
  display:flex;
  flex-direction:column;
  position:relative;
  /* left:13rem; */
  transition:all 1.5s;
}
.contactMeText{
  display:flex;
  flex-direction:row;
}
.C , .O, .N, .T, .A, .Cc, .Tt, .M, .E {
  position:relative;
}
.C {
  transform:translateX(-15rem);
  transition:all 0.8s ease;
}
.O {
  transform:translateX(-10rem) translateY(-10rem);
  transition:all 0.7s ease;
}
.N {
  transition:all 0.7s ease;
  transform:translateY(-10rem);
}
.T {
  transition:all 0.8s ease;
  transform:translateX(10rem) translateY(-10rem);
}
.A {
  transition:all 1.5s ease;
  transform:translateY(10rem);
}
.Cc {
  transition:all 0.8s ease;
  transform:translateX(5rem) translateY(10rem);
}
.Tt {
  transition:all 0.7s ease;
  transform:translateX(10rem) translateY(5rem);
}
.M {
  left:3rem;
  transition: all 0.5s ease;
  transform:translateX(5rem) translateY(-10rem);
}
.E {
  left:3rem;
  transition:all 0.5s ease;
}
.contactme-span{
  font-size:70px;
  font-weight:800;
  text-shadow:2px 0 0 teal,0 2px 0 red,-2px 0 0 teal,0 -2px 0 red;
  color:white;
}
.contact-span {
  position:relative;
  width:fit-content;
  background:transparent;
  font-weight:800;
  font-size:20px;
  top:5rem;
  right:-0.5rem;
  text-shadow:2px 0 0 red,0 2px 0 red,-2px 0 0 red,0 -2px 0 red;
  color:white;
  z-index:1;
}
.contact-input {
  position:relative;
  /* right:13rem; */
  top:3.2rem;
  height:28px;
  width:300px;
  background:white;
  caret-color:teal;
  font-size:18px;
  font-weight:700;
  transition: all 0.3s;
  border-top: 2px solid transparent;
  border-image: linear-gradient(0.25turn, teal, red) 1;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
.contact-input:focus {
  outline: none;
}
/* .contactMe form {
  display:flex;
  flex-direction:column;
} */
.message-input {
  width: 23rem;
  height: 20rem;
  padding-top:5px;
  padding-left:3px;
  resize:none;
}
.submit-button {
  position:relative;
  left:2rem;
  top:5rem;
  cursor:pointer;
  font-size:30px;
  text-decoration:none;
  color:red;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-right: 2px solid teal;
  border-left: 2px solid teal;
  width:240px;
  height:50px;
  border-radius:20px;
  transition:all 0.5s ease;
  transform: translateX(2.2rem);
}
.submit-button:hover {
  color:teal;
  border-top: 2px solid teal;
  border-bottom: 2px solid teal;
  border-right: 2px solid red;
  border-left: 2px solid red;
  transition: all 0.5s ease;
  opacity:0;
}
.light {
  position:absolute;
  padding-right:2px;
  padding-left:2px;
  border-radius:30%;
}
.lightone {
  height:30rem;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,144,144,1) 50%, rgba(255,255,255,1) 100%);
  top:10rem;
  left:20rem;
  animation: lightIt 2s infinite;
}
.lighttwo {
  height:30rem;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(144,255,226,1) 50%, rgba(255,255,255,1) 100%);
  top:10rem;
  right:30rem;
  animation: lightIt 3.2s infinite;
}
.lightthree {
  height:20rem;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,144,144,1) 50%, rgba(255,255,255,1) 100%);
  top:35rem;
  right:20rem;
  animation: lightIt 4.2s infinite;
}
.lightfour {
  height:40rem;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(144,255,226,1) 50%, rgba(255,255,255,1) 100%);
  top:5rem;
  left:30rem;
  animation: lightIt 2.2s infinite;
}
.lightfive {
  height:40rem;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,144,144,1) 50%, rgba(255,255,255,1) 100%);
  top:10rem;
  right:56rem;
  animation: lightIt 2.5s infinite;
}
.lightsix {
  animation: lightIt 4.4s infinite;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(144,255,226,1) 50%, rgba(255,255,255,1) 100%);
  top:5rem;
  left:52rem;
  height:35rem;
}
.lightseven {
  height:25rem;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,144,144,1) 50%, rgba(255,255,255,1) 100%);
  top:35rem;
  left:40rem;
  animation: lightIt 2s infinite;
}
.lightnine {
  display:none;
  height:40rem;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(144,255,226,1) 50%, rgba(255,255,255,1) 100%);
  top:10rem;
  right:15rem;
  animation: lightIt 2s infinite;
}
@keyframes lightIt {
  0%
  {
    opacity: 0;
    transform:translateY(-20%);
  }
  25%{
    opacity:0.5
  }
  50%{
    opacity:1;
  }
  60%{
    opacity:0.5;
  }
  100%{
    opacity:0;
    transform:translateY(70%);
  }
}
@keyframes animate {
 
  
  to {
    color:black;
  }
  
}
@keyframes textFloating {
  0%
  {
    top:5rem;
    transition:0.5s;
  }
  25%
  {
    top:3rem;
    transition:1s;
  }
  50%
  {
    top:5rem;
    transition:0.5s;
  }
  75%
  {
    top:4rem;
    transition:1s
  }
  100%
  {
    top:5rem;
    transition:0.5s;
  }
}
@keyframes changeTXT {
  to {
    content:'<\\>';
  }
}
@keyframes rotate {
  from {
    color:black;
  }
  to {
    color:#2b916c;
    transform:rotateY(360deg);
  }
}
@keyframes rotateLogo {
  to {
    transform:rotateY(360deg);
  }
}

@media(max-width:1440px)
{
  .navbar{
    position:static;
  }
  .htmltext {
    right:5vw;
  }
  .reacttext{
    width:50vw;
  }
  .cpptext {
    width:50vw;
  }
  .javatext {
    width:45vw;
  }
}

@media(max-width:1350px)
{
  .htmltext {
    right:10vw;
  }
}
@media(max-width:1080px)
{
  .navbar-github{
    right:7.5rem;
    transition:all 0s;
  }
  .navbar-photo-tag {
    right:5rem;
    transition:all 0s;
  }
  .main-text-second-text {
    left:10vw;
  }
  .navbarTitle .first-logo {
    display:none;
  }
  .profession-span {
    display:none;
  }
  .second-logo {
    display:block;
    width:200px;
    position:relative;
    top:2rem;
    left:2rem;
  }
  .contact-me-text {
    right:-35vw;
  }
  .skills-title {
    font-size: 60px;
  }
  .aboutme-title {
    font-size:60px;
  }
  .image-grid{
    display:none;
  }
  .slider-container {
    display:block;
  }
  .hmtlpng, .javascriptpng, .csspng {
    opacity:1
  }
  .navbar {
    margin-bottom:10rem;
  }
}
@media(max-width:1000px)
{
  .skillstext {
    font-size:20px;
  }
  .reactpng{
    width:14.458333333333vw;
    height:12.8541666666667vw;
  }
  .slider-container {
    margin-bottom:35rem;
  }
  .javatext {
    bottom:10rem;
    left:8rem;
  }
  .cpppng {
    width:15.458333333333vw;
   height:12.8541666666667vw;
  }
  .javapng {
    width:11.8125vw;
    height:15.416666666667vw;
  }
  .lightsix {
    display:none;
  }
  .htmlpng {
    width:21.22916666666667vw;
    height:16.020833333333vw;
  }
  .csspng {
    width:10.8125vw;
    height:13.416666666667vw;
  } 
  .javascriptpng {
    width:21.22916666666667vw;
    height:13.416666666667vw;
  }
}
@media(max-width:950px)
{
  .lightsix {
    display:none;
  }
}
@media(max-width:900px)
{
  .htmltext {
    width:40vw;
  }
  .reactpng {
    top:50rem;
  }
}
@media(max-width:880px){
  .slider-container {
    margin-bottom:40rem;
  }
}
@media(max-width:800px)
{
  .main-text-second-text {
    font-size:18px;
     left:-5vw;
  }
  .main-text-second-text:after {
    width:80%;
    right:5rem;
  }
  .navbar-photo-tag {
    top:2.5rem;
    width:100px;
    height:70px;
    font-size:50px;
  }
  .navbar-github
  {
    top:6.5rem;
  }
  .second-logo {
    width:150px;
    left: -1rem;
  }
  .aboutme-text , .aboutme-text-two, .aboutme-text-three{
    font-size:20px;
  }
  .aboutme-text-four {
    display:none;
  }
  .aboutme-text-three{
    right:56vw;
    
  }
  .reacttext {
    width:40vw; 
    height:fit-content;
  }
  .javatext {
    width:35vw;
  }
  .aboutme-text-two {
    left:15vw;
  }
  .main-text-main-text {
    font-size:60px;
  }
  .main-text-second-main {
    font-size:40px;
  }
  .main-text-third-text {
    font-size:30px;
    bottom:0rem;

  }
}
@media(max-width:720px)
{
  .slider-container {
    left:3vw;
  }
}
@media (max-width:650px)
{
  .lightseven {
    display:none;
  }
}
@media(max-width:640px)
{
  .main-text-second-text {
    left:-5vw;
  }
}

@media(max-width:600px)
{
  .contact-me-text{
    right:-27vw;
  }
  .skills-title {
    font-size:45px;
  }
  .aboutme-title {
    font-size: 45px;
    right:0;
    left:5rem;
  }
  .contactme-span {
    font-size:50px;
  }
  .second-logo {
    width:100px;
    left:-2rem;
  } 
  .navbar-photo-tag {
    width:70px;
    height:50px;
    font-size: 40px;
  }
  .navbar-github {
    font-size:17px;
    top:6rem;
    right:6.5rem;
  }
  .reactpng {
    top: 53rem;
    width:20.458333333333vw;
    height:18.8541666666667vw;
  }
  .htmlpng {
    top:30rem;
  }
  .csspng {
    right:73.5vw;
     top:25rem;
  }
  .javascriptpng {
    top:30.4rem;
  }
  .javapng {
    bottom:10rem;
  }
}
@media(max-width:530px)
{
  .main-text-second-text {
    left:-5vw;
  }
  .aboutme-text-two {
    left:20vw;
  }
  .javapng {
    width:14.8125vw;
    height:18.416666666667vw;
  }
}
@media(max-width: 500px)
{
  .lightfour {
    display:none;
  }
  .lightnine {
    display:block;
  }
  .contact-span {
    font-size:20px;
  }
  .navbar-photo-tag {
    right:1rem;
  }
  .navbar-github {
    right:2.5rem;
  }
  .main-text-main-text {
    font-size:40px;
  }
  .main-text-second-main {
    font-size:30px;
  }
  .main-text-third-text {
    font-size:20px;
  }
  .contact-me-text {
    right:-23vw;
  }
  .javatext {
    left: 3rem;
  }
}
@media(max-width: 460px)
{
  .main-text-second-text {
    width:25rem;
  }
  .contactme-span {
    left:-2rem;
  }
  .M, .E {
    left:0rem;
  }
  .javapng {
    bottom:12rem;
    width:18.8125vw;
    height:22.416666666667vw;
  }
}
/* @media(max-width:860) minimum browser size
{

} */